body {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    margin: 20px 0;
}

.form__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.form__container--input-text,
.form__container--input-radio {
    width: 600px;
}

.form__input-text-label,
.form__input-radio-title {
    display: block;
    text-align: center;
    font-weight: bold;
}

.form__input-radio-title {
    margin: 0 0 10px 0;
}

.form__input-text {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    border: none;
    border-radius: 2px;
    font-size: 16px;
    padding: 15px;
    width: 100%;
    background-color: #ebf5f5;
    color: #424242;
    box-shadow: 0 0 5px rgba(73, 78, 92, 0.45);
    margin: 10px auto 5px;
}

.form__input-description {
    margin: 0 0 20px;
    font-size: 12px;
    width: 600px;
}

.form__container--input-radio-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__radio-input {
    cursor: pointer;
}

.form__btn {
    font-size: 16px;
    font-weight: bold;
    width: 600px;
    padding: 10px;
    margin: 0 0 5px 0;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    border: none;
    border-radius: 2px;
    transition: all 0.3s;
    outline: none;
    cursor: pointer;
}

.btn-add-destination {
    background: #7b64ee;

}

.btn-submit {
    background: #00cd82;
    margin: 0 0 20px 0;
}

.btn-add-destination:hover,
.btn-submit:hover {
    transition: all 0.3s;
}

.btn-add-destination:hover {
    background: #6765cd;
}

.btn-submit:hover {
    background: #00c47d;
}