.form__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__btn {
    /*display: block;*/
    font-size: 20px;
    width: 180px;
    padding: 10px;
    margin: 20px auto;
    text-transform: uppercase;
    text-align: center;
    background: #EE4B28;
    color: #fff;
    border: none;
    transition: all 0.4s;
    cursor: pointer;
}

.form__btn:hover {
    transition: all 0.4s;
    background: #c94727;
}