.route-summary__container {
    margin: 0 auto;
    width: 600px;
}

.route-summary__title {
    margin: 20px 0 0;
    text-align: center;
    font-weight: bold;
}

.route-summary__item {
    margin: 0;
    text-align: center;
}

.route-summary__table {
    width: 600px;
}

.route-summary__table-row {
    border: 1px solid black;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.route-summary__table-row-100 {
    border: 1px solid black;
}

.route-summary__table-heading {
    font-weight: bold;
    font-size: 18px;
    background: #6765cd;
    color: #fff;
}

.route-summary__table-cell,
.route-summary__table-cell-instr {
    width: 25%;
    text-align: right;
    padding: 5px;
}

.route-summary__table-cell-first,
.route-summary__table-cell-first-instr {
    text-align: left;
    width: 50%;
    padding: 5px;
}

.route-summary__table-cell-first-instr,
.route-summary__table-cell-instr {
    font-size: 14px;
}

.route-summary__table-row-highlight {
    background: #00c47d;
    color: #fff;
    font-weight: bold;
}